@import './layout.scss';

.page-spacing {
  padding-top: 64px;
  background: #0b0b0b;
  color: white;
  min-height: 100vh;
  padding-bottom: 50px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Breakpoints */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

body {
  background: #000 !important; /* or your image */
}

.q-layout {
  background: transparent !important;
}

.q-page-container {
  background: transparent !important;
  padding-top: 0 !important;
}

